<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name = "Automation">
       <test name ="Chrome test">
                   <parameter name = "browser" value = "Chrome" />
                       <classes> 
                  <!-- <class name = "tests.API"/> -->
                      <!-- <class name = "tests.Login"/> -->
                       <class name = "tests.LoginTestWithDataDriven"/>
              </classes>
       </test>
</suite>

